.casts {  
  width: 550px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  position: absolute;
  z-index: 5;
  left: 35%;
  top: 10%;
}

.descriptionKeyBoard {
  display: block;
  width: 100%;
  margin-top: 15px;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.btn {
  border: rgb(16, 150, 56) solid 5px;
  border-radius: 10px;
  background-color: rgb(255, 215, 0);
  z-index: 100;
  width: 150px;
  height: 50px;
  color: #000000;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.btn:hover {
  cursor: pointer;
}

table {
  border: 10px solid black;
  overflow: hidden;
  border-collapse: collapse;
}

.selected {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
