.tablerecord {
  display: block;
}

.newgame { 
  font-size: 1.1rem;
  position: absolute;
  width: 200px;
  left: 45%;
  top: 0%;  
}

table.record {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
  position: absolute;
  width: 50%;
  right: 25%;
}
table.record td, table.record th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.record tbody td {
  font-size: 1rem;
}
table.record thead {
  background: #FFD700;
  border-bottom: 2px solid #444444;
}
table.record thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.record thead th:first-child {
  border-left: none;
}

table.record tfoot td {
  font-size: 14px;
}
table.record tfoot .links {
  text-align: right;
}
table.record tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
